body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #222;
}

.container {
  overflow: hidden;
  position: relative;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border: 1px solid #000;
}

canvas {
  transform: scale(4);
  image-rendering: pixelated;
}
